*~
.#*
## the next line needs to start with a backslash to avoid looking like
## a comment
\#*#
.*.swp

*.pyc
*.pyo
*.egg-info
/.eggs
/build
/dist
build

/virtualenv
/.tox

/ceph-deploy
/*.conf

*/lib/vendor/remoto
remoto

# Ignore all (Idea) PyCharm stuff
.idea/*
