#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=ceph-deploy
export PYBUILD_INSTALL_ARGS_python3=--install-lib=/usr/share/ceph-deploy

%:
	dh $@ --buildsystem pybuild --with python3

override_dh_clean:
	rm -rf ceph_deploy/lib/remoto
	dh_clean
