#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export CEPH_DEPLOY_VERSION_FOR_PYTHON=$(shell /usr/bin/dpkg-parsechangelog | /bin/grep Version: | /usr/bin/awk '{print $$NF}')

%:
	dh $@ 

